.min{

    background-color: lightgray;
    margin: 20px 70px 50px 70px;
    padding: 10px 50px 10px 50px ;
    font-size: 25px;


}
.button {
    background-color: #5b80b2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}
h1 {
    font-size:75px;
    margin: 10px 0;
}
p {
font-size:36px;
    margin: 0 0 35px 0;
}
