table
  {
    width:100%;
  border-collapse:collapse;
    ;


  }

table, td, th
  {

  border:1px solid #bbbbbb;


}
th{

    height: 50px;
}
td{
    text-align: center;
}
.min h1{
    border-bottom-style:solid;
    border-width: 2px;
    border-color: #bbbbbb;
    background:#DCDCDC;
    margin:0;
}
.list {
     border-style:solid;
     border-width: thin;
     border-color: #bbbbbb;
     margin: 10px 70px ;
     border-radius:4px ;
          font-size: 18px;
     text-align: center;


}
.inform{
    padding:20px 20px 50px 20px;

}
.button {
    background-color: #5b80b2;
    border: none;
    color: white;
    padding: 5px 10px;
    margin: 5px 10px;
   cursor: pointer;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
}
.button:active {
    position: relative;
    top:3px;
}
.symbol{
     border-style:solid;
     border-width: thin;
     border-color: #bbbbbb;
     margin: 5px 5px;
     border-radius:4px ;

     display: inline-block;


}
.minus,.quantity{

    float:left;
    font-size: 25px;

}

.minus {
        border-right-style: solid ;
         border-width: thin;
         padding: 0 20px;
         float: left;
}
.quantity{
    text-align: center;
    padding:0 20px;

}
.plus{

    border-left: solid;
    border-width: thin;
    float: right;
    padding: 0 20px;
    font-size:25px;
}