body {
    min-width: 678px;
   margin: 0;

}

a{
    text-decoration: none;
    color: #bbbbbb;
    display: block;
    font-size: 18px;
   line-height: 70px;
    padding: 0 25px;
}

.activi a{
     background: black;
    color: white;
}
a:hover {
    color: white;
    background-color: black;
    text-underline-style: none
}
.menu {
    position:relative;
    padding: 0 80px ;
    background-color: #666666;
    height: 70px;
    margin-top: 0;
}

.menu li {
    display: block;
    float: left;
    position: relative;


}

.menu li:last-child {

    float: right;

}



h1 {
    color: black;
    font-family: 'Lobster';
    font-size: 70px;
}

.min{

    background-color: lightgray;
    margin: 20px 50px 150px 50px;
    padding: 10px 60px 70px 60px ;
    font-size: 25px;


}

img{

    height:15px;
    width:15px;
    vertical-align: -1px;
    }


.button1 {
    background-color: #5b80b2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}
table
  {
    width:100%;
  border-collapse:collapse;


  }

table, td, th
  {

  border:1px solid #bbbbbb;


}
th{

    height: 50px;
}
td{
    text-align: center;
}
.groove {

    border-style:none  solid solid;
    border-width: 2px;
    margin: 0 70px 20px ;
    padding: 15px 15px 20px 15px ;
    border-radius:0 0 4px 4px;
    border-color: #bbbbbb;
}
  .list h1{
     border-style:solid;
     border-width: thin;
     border-color: #bbbbbb;
     margin: 20px 70px 0;
      border-radius:4px 4px 0 0;
      border-collapse:collapse;
     padding: 15px;
     font-size: 18px;
     text-align: center;
     background-color:#DCDCDC;

}
.button {
    background-color: #5b80b2;
    border: none;
    color: white;
    padding: 5px 10px;
    margin: 5px 10px;
   cursor: pointer;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
}
.button:active {
    position: relative;
    top:3px;
}