table
  {
    width:100%;
  border-collapse:collapse;
    ;


  }

table, td, th
  {

  border:1px solid #bbbbbb;


}
th{

    height: 50px;
}
td{
    text-align: center;
}
.min h1{
    border-bottom-style:solid;
    border-width: 2px;
    border-color: #bbbbbb;
    background:#DCDCDC;
    margin:0;
    text-align: left;
    padding: 5px 20px;
    font-size: 30px;
}
.list {
     border-style:solid;
     border-width: thin;
     border-color: #bbbbbb;
     margin: 10px 70px ;
     border-radius:4px ;

     text-align: center;


}
.inform{
    padding:20px 20px 50px 20px;

}

.symbol{
     border-style:solid;
     border-width: thin;
     border-color: #bbbbbb;
     margin: 5px 5px;
     border-radius:4px ;

     display: inline-block;


}
.minus,.quantity{

    float:left;
    font-size: 25px;

}

.minus {
        border-right-style: solid ;
         border-width: thin;
         float: left;
        border-color: #bbbbbb;
}
.quantity{
    padding:0 10px;

}
.plus{

    border-left: solid;
    border-width: thin;
    float: right;
    border-color: #bbbbbb;
}
.plus-ll,.quantity-ll,.minus-ll{
    background: white;
    border-style: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.num{}