{% extends 'post/base.html' %}
{% load staticfiles %}
{% block head %}
   <link rel="stylesheet" href="{% static 'css/go.css' %}">

{% endblock head %}

{% block content %}

<div class="list">
        <div class="min">
            <h1>购物清单</h1>
        </div>
        <div class="inform">
            <table>
                <tr>
                    <th>分类</th>
                    <th>名称</th>
                    <th>单价(元)</th>
                    <th>单位</th>
                    <th>数量</th>
                    <th>小计</th>
                </tr>
                {% for post in carts %}
                    <tr>
                        <td> {{ post.classification }}</td>
                        <td>{{ post.name }}</td>
                        <td> {{ post.price }}</td>
                        <td>{{ post.unit }} </td>

                        <td>{{ post.count }}</td>
                        <td>{{post.subtotal}}元
                        {% if post.costprice > post.subtotal %}
                                    <numbr>(原价：<numbr>{{post.costprice }}</numbr>元)</numbr>
                                {% endif %}
                    </td>
                    </tr>
                {% endfor %}
            </table>
         </div>
        <div class="min">
            <h1>赠送商品</h1>
        </div>
        <div class="inform">
            <table>
                <tr>
                    <th>分类</th>
                    <th>名称</th>
                    <th>数量</th>
                </tr>
                {% for goods in preferrntial_goods %}
                    <tr>
                        <td> {{ goods.classification }}</td>
                        <td>{{ goods.name }}</td>
                        <td> {{ goods.freecount }}</td>

                    </tr>
                {% endfor %}
            </table>
         </div>

        <div class="text">总计:<num>{{total}}</num>元</div>
<div class="text">节省:<num>{{save}}</num>元</div>

        <div class="button"   onclick="go()">确认</div>
</div>

 {% endblock content %}