{% extends 'post/base.html' %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/shopping_list.css' %}">

{% endblock head %}
{% block shopping_nav%} active{% endblock shopping_nav%}

{% block content %}
    <div class="list">
        <h1>商品列表</h1>

    </div>
    <div class="groove">

        <table>
            <tr>
                <th>分类</th>
                <th>名称</th>
                <th>单价(元)</th>
                <th>单位</th>
                <th>数量</th>
                <th>数量</th>
            </tr>
            {% for post in purchaseditems %}
                <tr>
                    <td> {{ post.classification }}</td>
                    <td>{{ post.name }}</td>

                    <td> {{ post.price }}</td>
                    <td>{{ post.unit }} </td>
                    <td>{{ post.count }}</td>

                </tr>
            {% endfor %}
        </table>

    </div>
{% endblock content %}

