{% extends 'post/base.html' %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/shopping_cart.css' %}">

{% endblock head %}
{% block shopping_cart%}active{% endblock shopping_cart %}
{% block content %}
    <div class="list">
        <div class="min">
            <h1>商品列表</h1>
        </div>
        <div class="inform">
            <table>
                <tr>
                    <th>分类</th>
                    <th>名称</th>
                    <th>单价(元)</th>
                    <th>单位</th>
                    <th>数量</th>
                    <th>小计</th>
                </tr>
                {% for post in carts %}
                    <tr>
                        <td> {{ post.classification }}</td>
                        <td>{{ post.name }}</td>
                        <td> {{ post.price }}</td>
                        <td>{{ post.unit }} </td>
                        <div class="symbol">
                        <td>
                            {{ post.count }}
                        </td>
                        </div>
                        <td>{{post.subtotal }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock content %}

